<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="./estilos.css">
</head>

<body>
    <header class="container-fluid" id="header">
        <nav id="navbar">
            <div class="container-fluid">

                <ul style="display:flex; flex-direction:row; justify-content:space-around;">
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;"
                            href="/api/productos/administracion">Administración</a>
                    </li>

                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <a class="link-navbar"
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;"
                            href="/api/carrito">Crear Carrito</a>
                    </li>
                    <li class="btn-navbar" style="text-decoration:none; list-style-type:none;">
                        <button
                            style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.2rem; background-color:white; border-width:0;">
                            <a class="link-navbar"
                                style="text-decoration:none; list-style-type:none; color:rgb(61, 12, 140); font-size:1.5rem;"
                                href="/logout">Cerrar sesión</a></button>
                    </li>
                </ul>

            </div>
        </nav>
    </header>


    <div
        style="background-color:rgb(226, 225, 225); box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding:20px; margin:20px;">
        <h3 style="color:rgb(18, 18, 122); font-weight:bold;">Su pedido fue exitoso y se encuentra en proceso</h3>


    </div>


</body>

</html>